<div class="row">
    <div class="col-12">
        <div class="card card-widget widget-user item-box">
            <div class="widget-user-header text-white p-0" style="background: url('/img/backgrounds/sc.jpg') center center;">
                <div style="background-color: rgba(66,66,66,0.30)!important; height: 100%" class="p-3">
                    <h3 class="widget-user-username text-center text-light left"><%- servcfg.selfname %></h3>
                    <h5 class="widget-user-desc text-center text-light"><%- ip.address() %>:<%- servini["server-port"] %></h5>
                    <div class="d-none" id="secretInfo"><%- ip.address() %>:<%- servini["server-port"] %></div>
                </div>
            </div>
            <div class="widget-user-image" style="z-index: 1000">
                <img id="serv_img" src="https://cdn.icon-icons.com/icons2/1381/PNG/512/minecraft_94415.png" style="border-radius: 25rem !important;border-top-width: 3px!important;height: 100px;width: 100px;background-color: #001f3f" class="border-dark">
            </div>
            <div class="d-flex bd-highlight">
                <div class="p-0 flex-fill bd-highlight">
                    <button style="width: 100%" class="btn btn-dark" onclick="copyToClipboard('info')" id="btnCopy"><i class="fas fa-copy" aria-hidden="true"></i></button>
                </div>
                <div class="p-0 flex-fill bd-highlight">
                    <a style="width: 100%" href="#" class="text-white btn btn-dark">&nbsp;</a>
                </div>
            </div>
            <div class="card-footer pt-3">
                <div class="row">
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header text-success" id="state">???</h5>
                            <span class="description-text"><%- lang["servercenter_any"].state %></span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="player">???</h5>
                            <span class="description-text"><%- lang["servercenter_any"].player %></span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header text-success" id="actions">???</h5>
                            <span class="description-text"><%- lang["servercenter_any"].action %></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="description-block">
                            <h5 class="description-header" id="version">???</h5>
                            <span class="description-text">Version</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHead" aria-controls="navbarHead" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-secondary" id="navbarHead">
                        <ul class="nav navbar-nav mr-auto" id="pills-tab">

                            <li class="nav-item">
                                <a href="/servercenter/<%- serverName %>/home" class="nav-link <%- page === "servercenter_home" ? "active" : "" %> btn-dark p-3" <%- page === "servercenter_home" ? "" : `onmouseenter="$('#home').toggleClass('d-lg-none', false)" onmouseleave="$('#home').toggleClass('d-lg-none', true)"` %>>
                                    <i class="nav-icon fas fa-home pr-1" aria-hidden="true"></i> <span id="home" class="<%- page === "servercenter_home" ? "" : "d-lg-none" %>"><%- lang["servercenter_any"].nav.home %></span>
                                </a>
                            </li>

                            <% if(userHelper.hasPermissions(user.id, "mods/config", serverName)) { %>
                                <li class="nav-item">
                                    <a href="/servercenter/<%- serverName %>/config" class="nav-link <%- page === "servercenter_config" ? "active" : "" %> btn-dark p-3" <%- page === "servercenter_config" ? "" : `onmouseenter="$('#config').toggleClass('d-lg-none', false)" onmouseleave="$('#config').toggleClass('d-lg-none', true)"` %>>
                                        <i class="nav-icon fas fa-edit pr-1" aria-hidden="true"></i> <span id="config" class="<%- page === "servercenter_config" ? "" : "d-lg-none" %>"><%- lang["servercenter_any"].nav.config %></span>
                                    </a>
                                </li>
                            <% } %>

                            <% if(userHelper.hasPermissions(user.id, "mods/backups", serverName)) { %>
                                <li class="nav-item">
                                    <a href="/servercenter/<%- serverName %>/backups" class="nav-link <%- page === "servercenter_backups" ? "active" : "" %> btn-dark p-3" <%- page === "servercenter_backups" ? "" : `onmouseenter="$('#backups').toggleClass('d-lg-none', false)" onmouseleave="$('#backups').toggleClass('d-lg-none', true)"` %>>
                                        <i class="nav-icon fas fa-hdd pr-1" aria-hidden="true"></i> <span id="backups" class="<%- page === "servercenter_backups" ? "" : "d-lg-none" %>"><%- lang["servercenter_any"].nav.backups %></span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>

                        <!-- RIGHT -->
                        <ul class="nav navbar-nav aa-nav ml-auto float-right" id="logbar">

                            <% if(userHelper.hasPermissions(user.id, "showalerts", serverName)) { %>
                                <li class="nav-item" style="cursor: pointer">
                                    <a data-toggle="modal" data-target="#alert" href="#" class="nav-link btn-info p-3" style="padding-right: 50px!important;">
                                        <i class="fa fa-info" aria-hidden="true"></i><div class="ribbon-wrapper">
                                            <div class="ribbon" style="background: #116b79" id="infoCounter">
                                                0
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            <% } %>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Meldungen -->
<div id="all_resp"><%- response %></div>
<% if(userHelper.hasPermissions(user.id, "actions", serverName)) { %>
<!-- MODAL AKTION -->
    <div class="modal fade" id="action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <form id="action_form" class="modal-dialog modal-xl" role="document" style="max-width: 700px" method="POST">
            <div class="modal-content border-0">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title"><%- lang["servercenter_any"].actionsTitle %></h5>
                </div>
                <div class="modal-body">
                    <p id="action_resp"></p>

                    <select name="action" id="action_sel" class="form-control">
                        <option><%- lang.all.select_default %></option>
                    </select>
                    <div id="actioninfo" class="d-none">
                        <div class="callout callout-info mb-3 ml-0 mr-0 mt-0">
                            <h5 class="text-info"><i class="fas fa-info" aria-hidden="true"></i> <span id="actioninfo_title"></span></h5>
                            <span id="actioninfo_text"></span>
                        </div>
                    </div>
                    <hr>

                    <div class="form-row" style="padding-left: 25px;padding-right: 25px" id="action_parm"></div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="actions" value="sendcommand">
                    <input type="hidden" name="cfg" value="<%- serverName %>">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- lang["servercenter_any"].actionsClose %></button>
                    <button type="submit" class="btn btn-primary" id="sendaction"><%- lang["servercenter_any"].actionsSend %></button>
                </div>
            </div>
        </form>
    </div>
<% } %>

<!-- MODAL Players -->
<div class="modal fade" id="playerlist_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 700px">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title"><%- lang["servercenter_any"].playermodal.title %></h5>
            </div>
            <div class="modal-body p-0" id="AlertBody">
                <table class="table m-0">
                    <tbody id="playerlist"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- lang["servercenter_any"].alertClose %></button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ALERTS -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 700px">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">PLACEHOLDER</h5>
            </div>
            <div class="modal-body p-0" id="AlertBody">
            </div>
            <div class="modal-footer">
                <input type="hidden" name="actions" value="sendcommand">
                <input type="hidden" name="cfg" value="<%- serverName %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- lang["servercenter_any"].alertClose %></button>
            </div>
        </div>
    </div>
</div>

<% if(userHelper.hasPermissions(user.id, "versionpicker", serverName)) { %>
    <!-- MODAL VERSION -->
    <div class="modal fade" id="versionpicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="max-width: 700px">
            <div class="modal-content border-0">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title"><%- lang["servercenter_any"].versionpicker.title %></h5>
                </div>
                <div class="modal-body">
                    <div class="pl-3 pr-3 mb-2"><%- lang["servercenter_any"].versionpicker.branch %></div>
                    <select id="tpick" class="form-control" onchange="generateVersionList(this.id)">
                        <option><%- lang["servercenter_any"].versionpicker.pick.pick %></option>
                        <option value="release"><%- lang["servercenter_any"].versionpicker.pick.release %></option>
                        <option value="snapshot"><%- lang["servercenter_any"].versionpicker.pick.snapshot %></option>
                        <!--<option value="old_beta"><%- lang["servercenter_any"].versionpicker.pick.old_beta %></option>
                        <option value="old_alpha"><%- lang["servercenter_any"].versionpicker.pick.old_alpha %></option>-->
                        <option value="spigot">Spigot</option>
                        <option value="craftbukkit">Craftbukkit</option>
                        <option value="modpacks"><%- lang["servercenter_any"].versionpicker.pick.modpacks %> [CurseForge]</option>
                    </select>

                    <!-- Loading -->
                    <div id="vloading" class="align-content-center text-center p-4" style="display: none; width: 100%">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </div>

                    <!-- VPicker -->
                    <div id="versionpick" style="display: none">
                        <hr>
                        <div class="pl-3 pr-3 mt-2 mb-2"><%- lang["servercenter_any"].versionpicker.vpick %></div>
                        <select id="vpick" class="form-control">
                            <option><%- lang["servercenter_any"].versionpicker.pick.pick %></option>
                        </select>
                    </div>

                    <!-- ModpackPicker -->
                    <div id="modpackpick" style="display: none">
                        <hr>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="123456" id="lfModPackInput">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type="button" onclick="lfModPack()" id="sendCommandBtn">Suchen</button>
                            </div>
                        </div>
                        <div id="modpackinfo"></div>
                        <table class="table table-striped table-bordered">
                            <tbody id="modpackinfos"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="actions" value="sendcommand">
                    <input type="hidden" name="cfg" value="<%- serverName %>">
                    <button id="installvbtn" style="display: none" type="button" class="btn btn-success" onclick="installVersion('<%- serverName %>')"><%- lang["servercenter_any"].versionpicker.send %></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- lang["servercenter_any"].alertClose %></button>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    var varser = {};
    varser.lang_arr = <%- JSON.stringify(lang) %>;
    varser.data = <%- JSON.stringify(servinfos) %>;
    varser.cfg = '<%- serverName %>';
    varser.installed = <%- servinfos.is_installed ? 1 : 2 %>;
</script>

<script src="/js/kadmin/servercenter.js" type="application/javascript"></script>