<%- include('../../includes/head'); -%>
<%- include('../../includes/top') -%>
<%- include('../../includes/nav') -%>
<%- include('../../includes/content') -%>
<%- include('./head'); -%>

<div class="row">
    <div class="col-12 mb-4">
        <div class="tab-pane fade  active show" id="pills-Cfg2" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="card-body p-2 d-none d-md-block">
                <div class="row">
                    <!-- Actionlist -->
                    <div class="col-12 bg-dark p-2">
                        <div class="d-flex">
                            <div class="btn-group"></div>
                            <div class="btn-group btn-group-sm ml-auto">
                                <a href="javascript:void(0)" class="btn btn-sm btn-outline-light" onclick="get()" id="FB_reload"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Nav -->
                    <div class="col-12 col-md-4 pr-md-0 pl-md-0 hidden-md-down bg-dark">
                        <div class="list-group">
                            <div id="BAK_folderList">
                                <div type="button" class="rounded-0 p-1 pl-4 pr-3 list-group-item bg-secondary">Load...</div>
                            </div>
                        </div>
                    </div>

                    <!-- Files -->
                    <div class="col-12 col-md-8 pl-md-0 pr-md-0 bg-gray-light border-left bg-dark">
                        <div class="list-group">
                            <div id="BAK_fileList">
                                <div class="p-1 pl-2 pr-3 list-group-item border-left-0 bg-dark">Load...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-bock d-md-none p-3">Mobile not Supported</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow" style="border: 0!important;">
            <div class="tab-content" id="pills-tabContent" style="border: 0!important;">
                <div class="tab-pane fade show active" id="backupList"></div>
            </div>
        </div>
    </div>
</div>


<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    var vars = {};
    vars.cfg = '<%- serverName %>';
</script>

<script src="/js/kadmin/servercenter_backups.js" type="application/javascript"></script>

<%- include('../../includes/foother'); -%>