<%- include('../../includes/head'); -%>
<%- include('../../includes/top') -%>
<%- include('../../includes/nav') -%>
<%- include('../../includes/content') -%>
<%- include('./head'); -%>

<div class="row" id="fileBrowserBrackups">
    <div class="col-12 mb-4">
        <div class="tab-pane fade  active show" id="pills-Cfg2" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="card-body p-2">
                <div class="row">
                    <!-- Actionlist -->
                    <div class="col-12 bg-dark p-2">
                        <div class="d-flex">
                            <div class="btn-group">
                                <% if(userHelper.hasPermissions(userID, "backups/upload", serverName)) { %>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-outline-light" id="FB_upload">
                                        <i class="fas fa-file-upload"></i>
                                    </a>
                                <% } %>
                                <a @click="toggleAll(true)" href="javascript:void(0)" class="btn btn-sm btn-outline-light" v-if="hasPermissions(globalvars.perm, 'backups/download', vars.cfg) || hasPermissions(globalvars.perm, 'backups/remove', vars.cfg)">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a @click="toggleAll(false)" href="javascript:void(0)" class="btn btn-sm btn-outline-light" v-if="hasPermissions(globalvars.perm, 'backups/download', vars.cfg) || hasPermissions(globalvars.perm, 'backups/remove', vars.cfg)">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a @click="multiDownload()" href="javascript:void(0)" class="btn btn-sm btn-outline-light" v-if="showSelected && hasPermissions(globalvars.perm, 'backups/remove', vars.cfg)">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a @click="removeAll()" href="javascript:void(0)" class="btn btn-sm btn-outline-danger" v-if="showSelected && hasPermissions(globalvars.perm, 'backups/download', vars.cfg)">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="btn-group btn-group-sm ml-auto">
                                <a href="javascript:void(0)" class="btn btn-sm btn-outline-light" onclick="get()" id="FB_reload">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Nav -->
                    <div class="col-12 col-md-4 pr-md-0 pl-md-0 hidden-md-down bg-dark">
                        <div class="list-group">
                            <!-- "Ordner" -->
                            <div v-for="item in folders" type="button" @click="getSection(item.date)" class="p-0 pl-2 pr-1 list-group-item bg-secondary">
                                <div class="d-flex">
                                    <div class="pt-1 pb-1">
                                        <i class="fas fa-folder" aria-hidden="true"></i>
                                        {{ item.text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Files -->
                    <div class="col-12 col-md-8 pl-md-0 pr-md-0 bg-gray-light border-left bg-dark">
                        <div class="list-group">
                            <div id="BAK_fileList" v-if="isLoading">
                                <div class="p-1 pl-2 pr-3 list-group-item border-left-0 bg-dark">Load...</div>
                            </div>

                            <div v-for="item in files" class="p-0 pl-1 list-group-item border-left-0 bg-dark">
                                <div class="d-flex">
                                    <div class="pt-1 pb-1">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" :id="item.name" :data-file="item.name" data-picker="files" @click="checkSelects()" v-if="hasPermissions(globalvars.perm, 'backups/download', vars.cfg) || hasPermissions(globalvars.perm, 'backups/remove', vars.cfg)">
                                            <label :for="item.name">
                                                <i v-bind:class="item.icon" aria-hidden="true"></i>
                                                {{ item.pureName }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-sm ml-auto">
                                        <span class="pr-3 text-sm pt-1 pb-1"><b>{{ item.sizeText }}</b></span>
                                        <button type="button" class="rounded-0 btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ globalvars.lang_arr["servercenter_filebrowser"].options.actions }}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a v-if='hasPermissions(globalvars.perm, "backups/download", vars.cfg)' class="dropdown-item" :href="`/backup/${vars.cfg}/${item.name}`" download target="_blank">
                                                <i class="fas fa-download"></i> {{ globalvars.lang_arr["servercenter_filebrowser"].options.download }}
                                            </a>
                                            <a v-if='hasPermissions(globalvars.perm, "backups/playin", vars.cfg)' class="dropdown-item" href="javascript:void(0)" @click="playInBackup(item.name)">
                                                <i class="fas fa-upload"></i> {{ globalvars.lang_arr["servercenter_backups"].modal.playin }}
                                            </a>
                                            <div class="dropdown-divider" v-if='hasPermissions(globalvars.perm, "backups/remove", vars.cfg)'></div>
                                            <a v-if='hasPermissions(globalvars.perm, "backups/remove", vars.cfg)' class="dropdown-item text-danger" href="javascript:void(0)" @click="removeFile(item.name)">
                                                <i class="far fa-trash-alt"></i> {{ globalvars.lang_arr["servercenter_filebrowser"].options.remove }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card shadow" style="border: 0!important;">
            <div class="tab-content" id="pills-tabContent" style="border: 0!important;">
                <div class="tab-pane fade show active" id="backupList"></div>
            </div>
        </div>
    </div>
</div>


<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    let vars = {};
    vars.cfg = '<%- serverName %>';
</script>

<script src="/js/kadmin/serverCenter/fb_backups.js" type="application/javascript"></script>

<%- include('../../includes/foother'); -%>