<%- include('../../includes/head'); -%>
<%- include('../../includes/top') -%>
<%- include('../../includes/nav') -%>
<%- include('../../includes/content') -%>
<%- include('./head'); -%>
<div class="row">
    <div class="col-12 mb-4">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-secondary" id="navbarColor03">
                <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                    <% if(userHelper.hasPermissions(user.id, "config/show_server")) { %>
                        <li class="nav-item">
                            <a class="nav-link active btn-dark p-3" id="pills-gus-tab" data-toggle="pill" href="#pills-gus" role="tab" aria-controls="pills-gus" aria-selected="false">
                                Server.Properties
                            </a>
                        </li>
                    <% } %>

                    <% if(userHelper.hasPermissions(user.id, "config/show_kadmin")) { %>
                        <li class="nav-item">
                            <a class="nav-link<%- !userHelper.hasPermissions(user.id, "config/Engine") && !userHelper.hasPermissions(user.id, "config/Game") && !userHelper.hasPermissions(user.id, "config/GameUserSettings") ? " active" : "" %> btn-dark p-3" id="pills-server-tab" data-toggle="pill" href="#pills-server" role="tab" aria-controls="pills-server" aria-selected="false">
                                KAdmin-Minecraft
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <hr>
        <!-- Cards -->
        <div class="card shadow">
            <div class="tab-content" id="pills-tabContent">

                <% if(userHelper.hasPermissions(user.id, "config/show_server")) { %>
                    <!-- Server.Properties -->
                    <div class="tab-pane fade show active" id="pills-gus" role="tabpanel" aria-labelledby="pills-llog-tab">
                        <table class="table table-striped mb-0" style="border: 0!important;">
                            <tbody>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0" style="border: 0!important;">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">Server.Properties</h4>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <textarea class="p-3 m-0" style="max-height: 500px; width: 100%; overflow-y: scroll; overflow-x: hidden; min-height: 500px" id="serverprop">Loading...</textarea>
                        <button class="btn btn-primary" style="width: 100%" onclick="serverSave('#serverprop', '<%- serverName %>')"><%- lang[page].save %></button>
                    </div>
                <% } %>

                <% if(userHelper.hasPermissions(user.id, "config/show_kadmin")) { %>
                    <!-- KAdmin-ArkWIN -->
                    <form class="tab-pane fade<%- !userHelper.hasPermissions(user.id, "config/Engine") && !userHelper.hasPermissions(user.id, "config/Game") && !userHelper.hasPermissions(user.id, "config/GameUserSettings") ? " show active" : "" %>" id="pills-server" role="tabpanel" aria-labelledby="pills-llog-tab">
                        <table class="table table-striped mb-0" style="border: 0!important;">
                            <thead>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0" style="border: 0!important;">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">KAdmin-Minecraft</h4>
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- selfname -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["selfname"] || "selfname" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="text" class="form-control form-control-sm" name="cfgsend[selfname]" value="<%- servcfg.selfname %>">
                                        </div>
                                    </td>
                                </tr>

                                <!-- path -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["path"] || "path" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="text" class="form-control form-control-sm" name="cfgsend[path]" value="<%- servcfg.path %>" readonly="">
                                        </div>
                                    </td>
                                </tr>

                                <!-- pathLogs -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["pathLogs"] || "pathLogs" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="text" class="form-control form-control-sm" name="cfgsend[pathLogs]" value="<%- servcfg.pathLogs %>" readonly="">
                                        </div>
                                    </td>
                                </tr>

                                <!-- pathBackup -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["pathBackup"] || "pathBackup" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="text" class="form-control form-control-sm" name="cfgsend[pathBackup]" value="<%- servcfg.pathBackup %>" readonly="">
                                        </div>
                                    </td>
                                </tr>

                                <!-- autoBackup -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["autoBackup"] || "autoBackup" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <select class="form-control form-control-sm" name="cfgsend[autoBackup]">
                                                <option value="true" <%- servcfg.autoBackup.toString() === "true" ? "selected" : "" %>><%- lang[page].true %></option>
                                                <option value="false" <%- servcfg.autoBackup.toString() === "false" ? "selected" : "" %>><%- lang[page].false %></option>
                                            </select>
                                            <!-- autoBackupPara -->
                                            <div class="icheck-primary mb-3">
                                                <input type="checkbox" name="cfgsend[autoBackupPara][]" value="--onlyworld" id="KONF_onlyworld">
                                                <label for="KONF_onlyworld">
                                                    <%- lang.forservers.parameter.onlyworld %>
                                                </label>
                                            </div>
                                            <div class="icheck-primary mb-3">
                                                <input type="checkbox" name="cfgsend[autoBackupPara][]" value="--withmods" id="KONF_withmods">
                                                <label for="KONF_withmods">
                                                    <%- lang.forservers.parameter.withmods %>
                                                </label>
                                            </div>
                                            <div class="icheck-primary mb-3">
                                                <input type="checkbox" name="cfgsend[autoBackupPara][]" value="--witplugins" id="KONF_witplugins">
                                                <label for="KONF_witplugins">
                                                    <%- lang.forservers.parameter.witplugins %>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- autoBackupMaxCount -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["autoBackupMaxCount"] || "autoBackupMaxCount" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="number" class="form-control form-control-sm" name="cfgsend[autoBackupMaxCount]" value="<%- servcfg.autoBackupMaxCount %>">
                                        </div>
                                    </td>
                                </tr>

                                <!-- autoBackupInterval -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["autoBackupInterval"] || "autoBackupInterval" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">SEC</span>
                                            </div>
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.autoBackupInterval / 60 / 1000) / 100 %>" id="autoBackupIntervalMIN"
                                                   onchange="$('#autoBackupIntervalSEC').val(Math.round(parseFloat(this.value) / 60 * 100) / 100); $('#autoBackupIntervalValue').val(Math.round(parseFloat(this.value) * 1000))">
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.autoBackupInterval / 60 / 60 / 1000) / 100 %>" id="autoBackupIntervalSEC"
                                                   onchange="$('#autoBackupIntervalMIN').val(Math.round(parseFloat(this.value) * 60 * 100) / 100); $('#autoBackupIntervalValue').val(Math.round(parseFloat(this.value) * 60 * 1000))">
                                            <div class="input-group-append">
                                                <span class="input-group-text">MIN</span>
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control form-control-sm" name="cfgsend[autoBackupInterval]" id="autoBackupIntervalValue" value="<%- servcfg.autoBackupInterval %>">

                                    </td>
                                </tr>

                                <!-- autoBackupMaxDirSize -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["autoBackupMaxDirSize"] || "autoBackupMaxDirSize" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">MB</span>
                                            </div>
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.autoBackupMaxDirSize / 1024 / 1024 * 100) / 100 %>" id="autoBackupMaxDirSizeMB"
                                                   onchange="$('#autoBackupMaxDirSizeGB').val(Math.round(parseFloat(this.value) / 1024 * 100) / 100); $('#autoBackupMaxDirSizeValue').val(Math.round(parseFloat(this.value) * 1024 * 1024))">
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.autoBackupMaxDirSize / 1024 / 1024 / 1024 * 100) / 100 %>" id="autoBackupMaxDirSizeGB"
                                                   onchange="$('#autoBackupMaxDirSizeMB').val(Math.round(parseFloat(this.value) * 1024 * 100) / 100); $('#autoBackupMaxDirSizeValue').val(Math.round(parseFloat(this.value) * 1024 * 1024 * 1024))">
                                            <div class="input-group-append">
                                                <span class="input-group-text">GB</span>
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control form-control-sm" name="cfgsend[autoBackupMaxDirSize]" value="<%- servcfg.autoBackupMaxDirSize %>" id="autoBackupMaxDirSizeValue">
                                    </td>
                                </tr>

                                <!-- xmx -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["xmx"] || "xmx" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">MB</span>
                                            </div>
                                            <input type="number" name="cfgsend[xmx]" class="form-control form-control-sm" value="<%- servcfg.xmx %>" id="xmxMB"
                                                   onchange="$('#xmxGB').val(Math.round(parseFloat(this.value) / 1024 * 100) / 100)">
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.xmx/ 1024 * 100) / 100 %>" id="xmxGB"
                                                   onchange="$('#xmxMB').val(Math.round(parseFloat(this.value) * 1024))">
                                            <div class="input-group-append">
                                                <span class="input-group-text">GB</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- xms -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["xms"] || "xms" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">MB</span>
                                            </div>
                                            <input type="number" name="cfgsend[xms]" class="form-control form-control-sm" value="<%- servcfg.xms %>" id="xmsMB"
                                                   onchange="$('#xmsGB').val(Math.round(parseFloat(this.value) / 1024 * 100) / 100)">
                                            <input type="number" step="0.01" class="form-control form-control-sm" value="<%- Math.round(servcfg.xms/ 1024 * 100) / 100 %>" id="xmsGB"
                                                   onchange="$('#xmsMB').val(Math.round(parseFloat(this.value) * 1024))">
                                            <div class="input-group-append">
                                                <span class="input-group-text">GB</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- extrajava -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["extrajava"] || "extrajava" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <input type="text" class="form-control form-control-sm" name="cfgsend[extrajava]" value="<%- servcfg.extrajava %>">
                                        </div>
                                    </td>
                                </tr>

                                <!-- jar -->
                                <tr>
                                    <td class="p-2"><%- lang[page].cfg["jar"] || "jar" %></td>
                                    <td class="p-2" colspan="2" style="max-width: 400px!important;">
                                        <div class="input-group-sm mb-0">
                                            <select class="form-control form-control-sm" name="cfgsend[jar]">
                                                <%  jars.forEach(item => { %>
                                                    <option value="<%- item %>" <%- item === servcfg.jar ? "selected" : "" %>><%- item %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- shouldRun -->              <input type="hidden" name="cfgsend[shouldRun]" class="form-control form-control-sm" value="<%- servcfg.shouldRun %>">
                        <!-- currversion -->            <input type="hidden" name="cfgsend[currversion]" class="form-control form-control-sm" value="<%- servcfg.currversion %>">
                        <!-- autoBackupNext -->         <input type="hidden" name="cfgsend[autoBackupNext]" class="form-control form-control-sm" value="<%- servcfg.autoBackupNext %>">
                        <!-- autoUpdate -->             <input type="hidden" name="cfgsend[autoUpdate]" class="form-control form-control-sm" value="<%- servcfg.autoUpdate %>">
                        <!-- autoUpdateInterval -->     <input type="hidden" name="cfgsend[autoUpdateInterval]" class="form-control form-control-sm" value="<%- servcfg.autoUpdateInterval %>">
                        <!-- autoUpdateNext -->         <input type="hidden" name="cfgsend[autoUpdateNext]" class="form-control form-control-sm" value="<%- servcfg.autoUpdateNext %>0">

                        <input type="hidden" name="saveServer" class="form-control form-control-sm" value="true">
                        <input type="hidden" name="cfg" class="form-control form-control-sm" value="<%- serverName %>">
                        <button class="btn btn-primary" style="width: 100%" onclick="saveCfg()" type="button"><%- lang[page].save %></button>
                    </form>

                </div>
            <% } %>


        </div>
    </div>
</div>


<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    var vars = {};
    vars.cfg = '<%- serverName %>';
</script>

<script src="/js/kadmin/serverCenter/config.js" type="application/javascript"></script>

<%- include('../../includes/foother'); -%>