<%- include('../includes/head'); -%>
<%- include('../includes/top_nav'); -%>
<%- include('../includes/side_nav'); -%>
<%- include('../includes/start'); -%>

<section class="content">

    <div class="card">
        <div class="card-body p-0">
            <div class=" table-responsive">
                <table class="table table-striped projects mb-0">
                    <thead>
                        <tr>
                            <th>
                                <%- PANEL_LANG.userPanel.table_username %>
                            </th>
                            <th>
                                <%- PANEL_LANG.userPanel.table_rang %>
                            </th>
                            <th>
                                <%- PANEL_LANG.userPanel.table_email %>
                            </th>
                            <!--<th>
                            </th>
                            <th>
                            </th>-->
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="userlist"></tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<% if(userHelper.hasPermissions(userID, "all/is_admin")) { %>
    <!-- Remove Modal -->
    <form class="modal fade" method="post" action="#" id="groups" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
            <div class="modal-content border-0">
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="userTitle"></h5>
                </div>

                <div class="modal-body">
                    <% if(groups !== false) groups.forEach((val) => { %>
                        <div class="icheck-primary col-12 pl-2 pr-2">
                            <input type="checkbox" value="<%- val.id %>" id="group<%- val.id %>" name="groups[]">
                            <label for="group<%- val.id %>">
                                <%- val.name %>
                            </label>
                        </div>
                    <% }) %>
                    <input name="uid" value="" type="hidden" id="userID">
                    <input name="setGroups" value="" type="hidden" id="userID">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- PANEL_LANG.userPanel.modalGroup.cancel %></button>
                    <button type="button" class="btn btn-success" name="del" onclick="sendGroups()"><%- PANEL_LANG.userPanel.modalGroup.send %></button>
                </div>
            </div>
        </div>
    </form>
<% } %>

<% if(userHelper.hasPermissions(userID, "userpanel/delete_user")) { %>
    <!-- Remove Modal -->
    <form class="modal fade" method="post" action="#" id="remove" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
            <div class="modal-content border-0">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="removeTitle"></h5>
                </div>

                <div class="modal-body">
                    <p><%- PANEL_LANG.userPanel.modalDelete.text %></p>
                    <input name="uid" value="" type="hidden" id="removeID">
                    <input name="deleteuser" value="true" type="hidden">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- PANEL_LANG.userPanel.modalDelete.cancel %></button>
                    <button type="button" class="btn btn-danger" name="del" onclick="removeUser()"><%- PANEL_LANG.userPanel.modalDelete.remove %></button>
                </div>
            </div>
        </div>
    </form>
<% } %>

<% if(userHelper.hasPermissions(userID, "userpanel/show_codes")) { %>
    <!-- CodeMODAL -->
    <form class="modal fade" id="addserver" tabindex="-1" method="post" action="#" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
            <div class="modal-content border-0">
                <div class="modal-header bg-success">
                    <h5 class="modal-title"><%- PANEL_LANG.userPanel.modal.title %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-striped projects mb-0">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Code
                            </th>
                        </tr>
                        </thead>
                        <tbody id="codes">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer input-group">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="<%- PANEL_LANG.userPanel.modal.cancel %>">
                    <% if(userHelper.hasPermissions(userID, "userpanel/create_code")) { %>
                        <select class="form-control m-1" name="rank" required="">
                            <option value="0"><%- PANEL_LANG.userPanel.modal.user %></option>
                            <% if(userHelper.hasPermissions(userID, "all/is_admin")) { %>
                                <option value="1"><%- PANEL_LANG.userPanel.modal.admin %></option>
                            <% } %>
                        </select>
                        <input type="hidden" name="addCode" value="true">
                        <input type="button" class="btn btn-success" onclick="createCode()" value="<%- PANEL_LANG.userPanel.modal.create %>">
                    <% } %>
                </div>
            </div>
        </div>
    </form>
<% } %>

<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    var vars = {};
    vars.self       = '<%- userID %>';
</script>

<script src="/js/arkadmin2/pages/userpanel.js" type="application/javascript"></script>

<%- include('../includes/end'); -%>
<%- include('../includes/foother'); -%>